name: Keep History Conventional
on:
  push:

jobs:
  keep-history-conventional:
    name: Keep History Conventional
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
           fetch-depth: 0
      - name: Keep History Conventional
        uses: ./keep-history-conventional
